.wrapper {
  overflow-y: hidden;
  position: relative;
  min-height: 1500px;
  width: 1300px;
  margin: 0 auto;
  max-width: 100%;
}
.wrapper .item {
  display: flex;
  position: absolute;
  top: 230px;
  left: 100px;
  animation: slideFromLeft 0.4s linear;
  max-width: 100%;
}
.wrapper .item > section {
  z-index: 2;
}
.wrapper .item > section > h4 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 20px;
}
.wrapper .item > section > h2 {
  font-weight: 300;
  font-size: 62px;
  line-height: 90px;
  letter-spacing: -0.02em;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrapper .item > section > p {
  max-width: 60%;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrapper .item > section .goToCatalog {
  position: absolute;
  top: 380px;
  left: 20px;
  width: 200px;
  height: 60px;
  border-radius: 13px;
  cursor: pointer;
  background-color: #333333;
  color: #fff;
  margin-right: 25px;
  border: 1px solid #333333;
  transition: background 0.6s ease;
}
.wrapper .item > section .goToCatalog:hover {
  background-color: #000;
  transition: background 0.6s ease;
}
.wrapper .item > aside > img {
  position: absolute;
  right: 100px;
  top: -200px;
  z-index: 1;
  right: 0px;
  max-width: 1000px;
  max-height: 1000px;
  transform: scale(-1, 1);
}
.wrapper .nav {
  position: absolute;
  top: 250px;
  right: 100px;
  z-index: 3;
}
.wrapper .nav > button {
  margin-left: 30px;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.item-enter {
  opacity: 1;
  transform: scale(0.9);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, tramsform 300ms;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-200px);
    opacity: 0.2;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .wrapper .item > section > h4 {
    font-size: 13px;
  }
  .wrapper .item > section > h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }
  .wrapper .item > section > p {
    max-width: 60%;
    font-weight: 400;
    font-size: 16px;
  }
  .wrapper .item > section .goToCatalog {
    top: 280px;
    left: 20px;
  }
  .wrapper .item > aside > img {
    top: -100px;
    right: 20px;
    max-width: 700px;
    max-height: 700px;
  }
}
@media (max-width: 800px) {
  .wrapper .item > section .goToCatalog {
    margin-top: 250px;
    position: static;
  }
  .wrapper .item > aside > img {
    top: 10px;
    right: 10px;
    max-width: 500px;
    max-height: 500px;
  }
  .wrapper .nav {
    top: 150px;
    right: 0;
    left: 130px;
  }
}
@media (max-width: 628px) {
  .wrapper .item {
    display: block;
    top: 50px;
    left: 0;
    margin: 0 40px;
  }
  .wrapper .item > section > p {
    max-width: 100%;
  }
  .wrapper .item > section .goToCatalog {
    margin-top: 0;
    position: static;
  }
  .wrapper .item > aside > img {
    display: none;
  }
  .wrapper .nav {
    text-align: center;
    display: block;
    left: 0;
    top: 20px;
  }
}