.position {
  position: absolute;
  right: 100px;
}
.position > img {
  cursor: pointer;
}
.position > .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  top: -4px;
  right: -2px;
  background-color: #fff;
  position: absolute;
  color: #000;
}
.position .cart {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)), rgba(255, 255, 255, 0.4);
}
.position .cart .cartBody {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 960px;
  display: flex;
  flex-direction: column;
}
.position .cart .cartBody > span {
  padding: 30px 0 30px 20px;
  font-size: 30px;
  font-weight: 700;
}
.position .cart .cartBody .product {
  height: 100%;
  overflow: auto;
  border-bottom: 2px solid #000;
}
.position .cart .cartBody .product .empty {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 25px;
}
.position .cart .footerblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.position .cart .footerblock .totalPrice {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.position .cart .footerblock .totalPrice > p {
  font-size: 35px;
  margin-left: 30px;
}
.position .cart .footerblock .totalPrice > span {
  font-size: 20px;
}
.position .cart .footerblock > button {
  margin-right: 40px;
  width: 350px;
  height: 64px;
  font-size: 25px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 6px;
  cursor: not-allowed;
  transition: all 0.6s ease;
}
.position .cart .footerblock > button:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.6s ease 0s;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
}

.buttonOff {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 40px;
  z-index: 1000;
}
.buttonOff > svg {
  width: 40px;
  height: 40px;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  visibility: visible;
  display: block;
  transition: opacity 300ms;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

@media (max-width: 960px) {
  .position {
    right: 30px;
  }
  .position .body {
    position: fixed;
    right: 0;
    left: 0;
    top: -72px;
    min-height: 100%;
    min-width: 100%;
  }
  .cartBody {
    max-width: 100%;
  }
  .position .cart .footerblock {
    display: block;
    margin: 0 50px 30px 50px;
    transition: all 0.3s ease;
  }
  .position .cart .footerblock .totalPrice {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
  }
  .position .cart .footerblock > button {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 0 auto;
    transition: all 0.6s ease;
    font-size: 16px;
  }
}