.content {
  position: relative;
}

.search {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.enter {
  top: -100px;
  opacity: 0;
}
.enterActive {
  top: 0;
  opacity: 1;
  transition: top 400ms ease, opacity 200ms ease;
}
.exit {
  top: 0;
  opacity: 1;
}
.exitActive {
  opacity: 0;
  top: -100px;
  transition: top 400ms ease, opacity 200ms ease;
}

.body {
  position: relative;
  .searchInput {
    height: 26px;
    width: 160px;
    position: absolute;
    top: -5px;
    right: 80px;
    border-radius: 7px 0px 0px 7px;
    font-size: 14px;
    padding-left: 25px;
    z-index: 1;
    border: 1px solid #333333;
    outline: none;
  }
  .searchImgInput {
    position: absolute;
    width: 12px;
    right: 8px;
    top: 5px;
    z-index: 5;
    opacity: 0.6;
  }
  .close {
    position: absolute;
    width: 15px;
    cursor: pointer;
  }
  .buttonSearch {
    width: 30px;
    height: 26px;
    position: absolute;
    top: -5px;
    right: 53px;
    border: 1px solid #000;
    z-index: 4;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
    background-color: #fff;
  }
}

@media (max-width: 960px) {
  .search {
    margin-left: 30px;
  }
  .body {
    .searchInput {
      top: -13px;
      right: -220px;
    }
    .buttonSearch {
      top: -13px;
      right: -240px;
    }
    .close {
      position: absolute;
      right: -45px;
      top: -6px;
    }
  }
}
